In [6]:
# If not already installed, do: pip install pandas fastparquet
import pandas as pd

URL_DATA = 'https://storage.googleapis.com/dosm-public-dashboards/kawasanku_admin_pyramid.parquet'

df = pd.read_parquet(URL_DATA)
if 'date' in df.columns: df['date'] = pd.to_datetime(df['date'])

df
# Filter data by Tahun variable
# year = 'dun'
# df_filtered = df[df['area_type'] == year].reset_index()
# df_filtered

,area_type,area,age_0_4_male,age_5_9_male,age_10_14_male,age_15_19_male,age_20_24_male,age_25_29_male,age_30_34_male,age_35_39_male,...,age_40_44_female,age_45_49_female,age_50_54_female,age_55_59_female,age_60_64_female,age_65_69_female,age_70_74_female,age_75_79_female,age_80_84_female,age_85_above_female
0,country,Malaysia,-1280168.0,-1660274.0,-1471571.0,-1419395.0,-1323087.0,-1505018.0,-1687137.0,-1605252.0,...,1106147.0,876042.0,716822.0,697046.0,506898.0,383483.0,240071.0,130278.0,84068.0,51510.0
1,state,Johor,-139959.0,-177624.0,-171301.0,-171217.0,-174638.0,-214664.0,-232321.0,-211206.0,...,136588.0,110579.0,89670.0,90086.0,64189.0,49732.0,30595.0,15079.0,10345.0,6259.0
2,state,Kedah,-78154.0,-119697.0,-110063.0,-98402.0,-78005.0,-74132.0,-103651.0,-87885.0,...,74287.0,58979.0,51819.0,55222.0,38977.0,30850.0,18214.0,9928.0,6629.0,3506.0
3,state,Kelantan,-71369.0,-104694.0,-99967.0,-104583.0,-84328.0,-67763.0,-61550.0,-55609.0,...,43360.0,44730.0,43098.0,43177.0,34919.0,24345.0,17010.0,10204.0,6111.0,3650.0
4,state,Melaka,-44931.0,-40574.0,-35931.0,-54323.0,-48950.0,-44481.0,-61686.0,-40396.0,...,39881.0,23201.0,20707.0,21487.0,17251.0,14482.0,9033.0,4810.0,3388.0,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,district,Beluru,-685.0,-1276.0,-1245.0,-1581.0,-1026.0,-1919.0,-1827.0,-1149.0,...,1127.0,641.0,562.0,517.0,397.0,364.0,201.0,126.0,77.0,72.0
173,district,Telang Usan,-267.0,-690.0,-1139.0,-1047.0,-540.0,-708.0,-664.0,-902.0,...,704.0,481.0,364.0,558.0,270.0,193.0,114.0,65.0,75.0,51.0
174,district,W.P. Kuala Lumpur,-56141.0,-90466.0,-86326.0,-71426.0,-61942.0,-98644.0,-123262.0,-140024.0,...,83775.0,62446.0,41392.0,38649.0,25864.0,18449.0,9877.0,4689.0,2815.0,1685.0
175,district,W.P. Labuan,-5441.0,-4368.0,-4211.0,-4065.0,-3766.0,-4342.0,-4278.0,-5553.0,...,2492.0,2489.0,2162.0,1766.0,1252.0,861.0,415.0,265.0,194.0,213.0
176,district,W.P. Putrajaya,-6676.0,-8894.0,-5818.0,-3080.0,-2032.0,-2838.0,-5035.0,-8066.0,...,4611.0,2218.0,1514.0,1103.0,751.0,434.0,257.0,108.0,60.0,40.0

In [7]:
df.to_csv('ptree_geo_levelALL_2021.csv',index=False)

In [3]:
df.columns

Index(['area_type', 'area', 'age_0_4_male', 'age_5_9_male', 'age_10_14_male',
       'age_15_19_male', 'age_20_24_male', 'age_25_29_male', 'age_30_34_male',
       'age_35_39_male', 'age_40_44_male', 'age_45_49_male', 'age_50_54_male',
       'age_55_59_male', 'age_60_64_male', 'age_65_69_male', 'age_70_74_male',
       'age_75_79_male', 'age_80_84_male', 'age_85_above_male',
       'age_0_4_female', 'age_5_9_female', 'age_10_14_female',
       'age_15_19_female', 'age_20_24_female', 'age_25_29_female',
       'age_30_34_female', 'age_35_39_female', 'age_40_44_female',
       'age_45_49_female', 'age_50_54_female', 'age_55_59_female',
       'age_60_64_female', 'age_65_69_female', 'age_70_74_female',
       'age_75_79_female', 'age_80_84_female', 'age_85_above_female'],
      dtype='object')

In [10]:
import pandas as pd

URL_DATA = 'https://storage.googleapis.com/dosm-public-dashboards/kawasanku_admin_pyramid.parquet'
df = pd.read_parquet(URL_DATA)

# Convert date column to datetime if it exists
if 'date' in df.columns:
    df['date'] = pd.to_datetime(df['date'])

# Define geo_levels to filter by
geo_levels = ['country', 'state', 'district']

for geo_level in geo_levels:
    # Filter data by geo_level
    df_geo = df[df['area_type'] == geo_level].reset_index(drop=True)
    
    # Generate CSV file for this geo_level
    filename = f'kawasanku_admin_pyramid_{geo_level}.csv'
    df_geo.to_csv(filename, index=False)