In [5]:
# !pip install pandas pyarrow fastparquet

In [4]:
# If not already installed, do: pip install pandas fastparquet
import pandas as pd

URL_DATA = 'https://storage.googleapis.com/dosm-public-dashboards/kawasanku_admin_jitter.parquet'

df = pd.read_parquet(URL_DATA)
if 'date' in df.columns: df['date'] = pd.to_datetime(df['date'])

df

,area_type,area,total_area_x,max_elevation_x,ruggedness_x,watercover_x,treecover_x,treeloss_x,nightlights_x,population_density_x,...,labour_urate_t,labour_prate_t,agegroup_working_t,electricity_t,water_t,hospital_t,clinic_t,school_t,police_fire_t,grocery_t
0,state,Johor,0.088,-0.166,-0.650,-0.233,0.135,0.622,0.170,-0.035,...,3.508309,70.441280,70.551666,99.988147,99.836922,0.016710,0.357137,1.237348,0.027434,0.857427
1,state,Kedah,0.007,0.113,-0.048,0.051,-0.080,0.007,-0.962,0.001,...,4.178846,62.996962,65.651463,100.000000,99.439820,0.013606,0.328418,1.240487,0.036126,1.345108
2,state,Kelantan,0.053,0.220,0.875,-0.730,0.353,0.219,-0.975,-0.446,...,4.241888,57.888540,63.670425,100.000000,67.802484,0.008926,0.275593,1.109673,0.043515,4.225939
3,state,Melaka,-0.808,-0.658,0.262,-0.593,-0.178,0.598,0.007,0.046,...,2.205189,66.260870,70.232906,100.000000,100.000000,0.009014,0.415653,1.333601,0.027043,0.907426
4,state,Negeri Sembilan,-0.238,-0.038,0.602,-0.875,0.126,0.675,-0.230,-0.167,...,3.795861,64.102008,68.054308,100.000000,99.859858,0.019167,0.410009,1.605556,0.022500,1.040023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,district,Beluru,0.168,0.110,0.137,-0.599,0.274,0.079,-0.119,-0.720,...,NaN,NaN,70.921763,NaN,NaN,0.000000,0.209096,3.962207,0.000000,3.345531
172,district,Telang Usan,0.397,0.228,0.102,-0.596,0.371,-0.348,-0.372,-0.765,...,NaN,NaN,70.487188,NaN,NaN,0.000000,0.631966,6.635537,0.000000,5.285534
173,district,W.P. Kuala Lumpur,-0.566,-0.452,-0.356,0.003,-0.563,-0.525,0.197,0.900,...,NaN,NaN,73.452106,NaN,NaN,0.035820,0.576658,0.666221,0.033298,0.737597
174,district,W.P. Labuan,-0.647,-0.649,-0.536,0.038,-0.337,-0.352,0.078,0.107,...,NaN,NaN,68.451430,NaN,NaN,0.010513,0.283852,1.037943,0.042052,1.187973
175,district,W.P. Putrajaya,-0.670,-0.590,-0.555,0.292,-0.575,-0.429,0.175,0.240,...,NaN,NaN,60.628010,NaN,NaN,0.018315,0.210619,0.651230,0.036629,0.320507

In [11]:
# If not already installed, do: pip install pandas fastparquet
import pandas as pd

# URL_DATA = 'https://storage.googleapis.com/dosm-public-dashboards/kawasanku_admin_pyramid.parquet'
URL_DATA = 'https://storage.googleapis.com/dosm-public-dashboards/kawasanku_admin_barmeter.parquet'

df = pd.read_parquet(URL_DATA)
if 'date' in df.columns: df['date'] = pd.to_datetime(df['date'])

df

     area_type            area        chart       variable      value
0      country        Malaysia          sex           male  52.288396
1      country        Malaysia          sex         female  47.711604
2      country        Malaysia     agegroup          child  26.417660
3      country        Malaysia     agegroup        working  68.293245
4      country        Malaysia     agegroup        elderly   5.289095
...        ...             ...          ...            ...        ...
3712     state  W.P. Putrajaya  nationality        foreign   2.583286
3713     state  W.P. Putrajaya      marital  never_married  27.733099
3714     state  W.P. Putrajaya      marital        married  68.020471
3715     state  W.P. Putrajaya      marital        widowed   2.036675
3716     state  W.P. Putrajaya      marital       divorced   2.209755

[3717 rows x 5 columns]

In [14]:
df.query('area_type == "country"')

   area_type      area        chart       variable      value
0    country  Malaysia          sex           male  52.288396
1    country  Malaysia          sex         female  47.711604
2    country  Malaysia     agegroup          child  26.417660
3    country  Malaysia     agegroup        working  68.293245
4    country  Malaysia     agegroup        elderly   5.289095
5    country  Malaysia    ethnicity           bumi  69.395464
6    country  Malaysia    ethnicity        chinese  23.162703
7    country  Malaysia    ethnicity         indian   6.717156
8    country  Malaysia    ethnicity          other   0.724676
9    country  Malaysia     religion         muslim  63.518401
10   country  Malaysia     religion      christian   9.064056
11   country  Malaysia     religion       buddhist  18.697297
12   country  Malaysia     religion          hindu   6.069737
13   country  Malaysia     religion          other   0.878814
14   country  Malaysia     religion        atheist   1.771696
15   country  Malaysia  nationality          local  91.706358
16   country  Malaysia  nationality        foreign   8.293642
17   country  Malaysia      marital  never_married  35.819630
18   country  Malaysia      marital        married  58.462116
19   country  Malaysia      marital        widowed   4.038933
20   country  Malaysia      marital       divorced   1.679320

In [12]:
set(df.area)

{'Alor Gajah',
 'Asajaya',
 'Bachok',
 'Bagan Datuk',
 'Baling',
 'Bandar Baharu',
 'Barat Daya',
 'Batang Padang',
 'Batu Pahat',
 'Bau',
 'Beaufort',
 'Belaga',
 'Beluran',
 'Beluru',
 'Bentong',
 'Bera',
 'Besut',
 'Betong',
 'Bintulu',
 'Bukit Mabong',
 'Cameron Highlands',
 'Dalat',
 'Daro',
 'Dungun',
 'Gombak',
 'Gua Musang',
 'Hilir Perak',
 'Hulu Perak',
 'Hulu Terengganu',
 'Jasin',
 'Jelebu',
 'Jeli',
 'Jempol',
 'Jerantut',
 'Johor',
 'Johor Bahru',
 'Julau',
 'Kabong',
 'Kalabakan',
 'Kampar',
 'Kanowit',
 'Kapit',
 'Kecil Lojing',
 'Kedah',
 'Kelantan',
 'Kemaman',
 'Keningau',
 'Kerian',
 'Kinabatangan',
 'Kinta',
 'Klang',
 'Kluang',
 'Kota Belud',
 'Kota Bharu',
 'Kota Kinabalu',
 'Kota Marudu',
 'Kota Setar',
 'Kota Tinggi',
 'Kuala Kangsar',
 'Kuala Krai',
 'Kuala Langat',
 'Kuala Muda',
 'Kuala Nerus',
 'Kuala Penyu',
 'Kuala Pilah',
 'Kuala Selangor',
 'Kuala Terengganu',
 'Kuantan',
 'Kubang Pasu',
 'Kuching',
 'Kudat',
 'Kulai',
 'Kulim',
 'Kunak',
 'Lahad Datu',
 'Langkawi',
 'Larut Dan Matang',
 'Lawas',
 'Limbang',
 'Lipis',
 'Lubok Antu',
 'Lundu',
 'Machang',
 'Malaysia',
 'Manjung',
 'Maradong',
 'Maran',
 'Marang',
 'Marudi',
 'Matu',
 'Melaka',
 'Melaka Tengah',
 'Mersing',
 'Miri',
 'Muallim',
 'Muar',
 'Mukah',
 'Nabawan',
 'Negeri Sembilan',
 'Padang Terap',
 'Pahang',
 'Pakan',
 'Papar',
 'Pasir Mas',
 'Pasir Puteh',
 'Pekan',
 'Penampang',
 'Pendang',
 'Perak',
 'Perak Tengah',
 'Perlis',
 'Petaling',
 'Pitas',
 'Pokok Sena',
 'Pontian',
 'Port Dickson',
 'Pulau Pinang',
 'Pusa',
 'Putatan',
 'Ranau',
 'Raub',
 'Rembau',
 'Rompin',
 'Sabah',
 'Sabak Bernam',
 'Samarahan',
 'Sandakan',
 'Saratok',
 'Sarawak',
 'Sarikei',
 'Sebauh',
 'Seberang Perai Selatan',
 'Seberang Perai Tengah',
 'Seberang Perai Utara',
 'Segamat',
 'Selama',
 'Selangau',
 'Selangor',
 'Semporna',
 'Sepang',
 'Seremban',
 'Serian',
 'Setiu',
 'Sibu',
 'Sik',
 'Simunjan',
 'Sipitang',
 'Song',
 'Sri Aman',
 'Subis',
 'Tambunan',
 'Tampin',
 'Tanah Merah',
 'Tangkak',
 'Tanjung Manis',
 'Tatau',
 'Tawau',
 'Tebedu',
 'Telang Usan',
 'Telupid',
 'Temerloh',
 'Tenom',
 'Terengganu',
 'Timur Laut',
 'Tongod',
 'Tuaran',
 'Tumpat',
 'Ulu Langat',
 'Ulu Selangor',
 'W.P. Kuala Lumpur',
 'W.P. Labuan',
 'W.P. Putrajaya',
 'Yan'}

In [2]:
!pip install openpyxl
# import openpyxl

Requirement already satisfied: openpyxl in c:\python310\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\python310\lib\site-packages (from openpyxl) (1.1.0)

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)

In [6]:
import pandas as pd
df = pd.read_excel(r"C:\Users\najmi.ariffin\Downloads\src_population\malaysia.xlsx")

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
df